.App {
  background-color: #bbbfc6;
  justify-content: flex;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile-icon{

  width: 50px; /* Adjust the size as needed */
            height: 50px; /* Adjust the size as needed */
            border-radius: 50%;
            overflow: hidden;
}
.profile-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-container {

  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  max-width: 30%;
  height: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
  background-color: #333; 
  color: white; 
  text-align: center;
  padding: 10px;
}

/* Reset default margin and padding */
/* Reset default margin and padding */
